.container{
    text-align: center;

    .title{
        font-family: 'Allura', cursive;
        font-size: 3.5rem;
        text-transform: capitalize;
        letter-spacing: 4px;
    }

}

.gallery-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: capitalize;
    padding-top: 50px;
}
